<template>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">I'm VUE component !</div>
                <div class="card-body">
                    <h3>Page 2</h3>
                    <p><a href="/page1">page1</a></p>
                    <p><a href="/page2">page2</a></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        console.log('Component 2 mounted.')
    }
}
</script>
